/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-900 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/poppins-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}
*, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: black;
}


body {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.wrapper{
    min-width: 1440px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header style start */

/* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

 */

.header__wrapper{
    width: 1480px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 48px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    list-style-type: none;
    margin-right: 65px;
}

.header__item:last-child {
    margin-right: 0px;
}

.header__link {
    font-size: 22px;
    line-height: 33px;
    color: black;
    text-decoration: none;
}

.header__link-last {
    padding: 13px 22px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 16px;


}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: 75%;
}

.header__link-button {
    padding: 7px 22px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: white;
    background-color: black;
    border-radius: 16px;
}
/* Header style end */

/* intro styles start */
.intro__wrapper{
    background: #F4F6F5;
    position: relative;
    width: 1440px;
    margin: 0 auto;
    border-radius: 59px;
    margin-bottom: 63px;
    padding-top: 10px;
}
.intro__title {
    max-width: 474px;
    padding-left: 119px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 120px;
    margin-bottom: 40px;
}

.intro__title span:nth-child(1) {
    background-color: rgba(24,181,164,0.5);
}

.intro__title span:nth-child(3) {
    transform: rotate(-2deg);
    background: #EBD96B;
}

.intro__sub-title {
    padding-left: 119px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.05em;
    margin-bottom: 32px;
}

.buttons {
    padding-left: 125px;
}

.button__vector {
    width: 280px;
    height: 37px;
    margin-top:  24px;
    padding-right: 34px;
}

.button__shop {
    display: flex;
    flex-wrap: wrap;
}

.button__shop-now {
    padding: 19px 40px;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.05em;
    color: white;
    background-color: black;
    border-radius: 16px;
}

.button__link-last {
    padding: 22px 40px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 16px;
    margin-bottom: 90px;
}


.shatenka{
    margin: 0 auto;
}
.img__shatenka {
    position: absolute;
    margin-top: -170px;
    width: 671px;
    height: 584px;
    left: 768px;
    top: 272px;
}

/* intro styles end */

/* new-intro styles start */
.new-intro__logo-yellow-pass {
    background: #EBD96B;
    margin: 0 auto;
    width: 1519px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.new-intro__logo-icons {
    mix-blend-mode: multiply;
    margin-bottom: 40px;
    margin-top: 40px;
}

.new-intro {
    padding-bottom: 69px;
}
/* new-intro styles end */

/* new-intro_2 styles start */

.new-intro_2 {

}

.new-intro_2-div-logo {
    width: 1440px;
    margin: 0 auto;
}

.new-intro_2-logo {
    margin: 0 auto;
    padding-left: -47px;
    padding-bottom: 118px;
}

.new-intro_2-wrapper {
    margin: 0 auto;
    width: 1460px;
    display: flex;
    justify-content: space-between;
}

.new-intro_2-img {
    width: 75%;
    padding-bottom: 28px;
}

.explore-now {
    margin-top: -13px;
    width: 153px;
    height: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 50px;
    /* or 208% */
    letter-spacing: -0.04em;
    color: #7F7F7F;

    padding-bottom: 232px;
}

/* new-intro_2 styles end */




/* new-intro_3 styles start */

.new-intro_3-wrapper {
    margin: 0 auto;
    width: 1519px;
    display: flex;
    padding-bottom: 190px;
}

.new-intro_3-img1 {
    background-image: url("../images/shatenka-yellow.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.new-intro_3-info {
    background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
    max-width: 50%;
}

.new-intro_3-title {
    padding-left: 119px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 120px;
    margin-bottom: 40px;
}

.new-intro_3-title-discount {
    font-style: normal;
    font-weight: 500;
    font-size: 36.0402px;
    line-height: 52px;
    /* or 145% */

    letter-spacing: -0.02em;

    color: #231300;

    padding-left: 110px;
    padding-bottom: 40px;


}

.new-intro_3-title-discount2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36.0402px;
    line-height: 52px;
    /* or 145% */
    padding-left: 110px;
    letter-spacing: 0.02em;

    color: #000000;
}

.new-intro_3-title-discount3 {
    font-style: normal;
    font-weight: 400;
    font-size: 36.0402px;
    line-height: 52px;
    /* or 145% */
    padding-left: 107px;
    letter-spacing: -0.02em;
    margin-top: -40px;

    color: #000000;
}

.button__link-last-2 {
    padding: 22px 40px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 16px;
}

.button__link-last-2_1 {
    padding-left: 100px;
}

/* new-intro_3 styles end */



/* new-intro_4 styles start */

.new-intro_4-wrapper {
    margin: 0 auto;
    width: 1460px;
    display: flex;
}

.new-intro_4-img1 {
    width: 93%;


}

.new-intro_3-img2 {
    flex-grow: 1;
}

.explore-now-2 {
    margin-top: -70px;
    width: 153px;
    height: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 50px;
    /* or 208% */
    letter-spacing: -0.04em;
    color: #7F7F7F;

    padding-bottom: 232px;
}

.new-intro_4-discount {
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 50px;
    /* or 156% */

    letter-spacing: -0.04em;

    color: #000000;
}


/* new-intro_4 styles end */

/* new-intro_5 styles start */

.new-intro_5 {

}


.new-intro_5-wrapper {
    margin: 0 auto;
    display: flex;
    width: 1519px;
    flex-direction: row;
    justify-content: space-between;
}

.new-intro_5-title{
    padding-top: 240px;
    padding-left: 100px;
}

.new-intro_5-logo {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 150%;
    /* or 72px */

    letter-spacing: 0.06em;

    color: #000000;
}

.new-intro_5-logo2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    /* or 146% */

    letter-spacing: -0.04em;

    color: #7C7C7C;
}

.iphone__img {

    position: relative;
    padding-right: 100px;

}

.ellips-1 {
    position: absolute;
    margin-left: -550px;
    margin-top: 100px;
}

.ellips-2 {
    position: absolute;
    margin-top: 100px;
}
.ellips-3 {
    position: absolute;
    margin-top: 680px;
}
.ellips-4 {
    position: absolute;
    margin-top: 750px;
    margin-left: -550px;
    padding-bottom: 230px;
}

/* new-intro_5 styles end */


/* new-intro_6 styles start */

new-intro_6 {
}

.new-intro_6-wrapper {
    background: #E5C643;
    margin: 0 auto;
    width: 1519px;
    padding-bottom: 140px;
    text-align: center;
}
.new-intro__6-title {
    padding-top: 130px;
    font-style: normal;
    font-weight: 900;
    font-size: 39px;
    /* or 127% */

    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
  }

.new-intro__6-title2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    /* or 109% */

    letter-spacing: 0.03em;

    color: #FFFCF8;
}

.new-intro__6-title-button {
    width: 360px;
    height: 60px;
    border-radius: 5px;
}

.button__link-last-6 {
    padding: 9px 21px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 6px;
    margin-bottom: 90px;

    margin-left: -100px;
}

/* new-intro_6 styles end */




/* new-intro_6 styles start */

.bottom__wrapper {
    padding-top: 100px;
    padding-bottom: 130px;
    background: black;
    width: 1519px;
    margin: 0 auto;
    display: flex;
}

.box1 {
   flex: 3;
}

.box2 {
    flex-direction: column;
    flex: 1;
}

.box3 {
    flex: 1;
}

.box4 {
    flex: 1;

    padding-right: 50px;
}

.bottom__fashion {
    padding-left: 15px;

    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.bottom__fashion-2 {
    padding-left: 15px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* or 167% */

    letter-spacing: 0.02em;

    color: #8E8E8E;
}

img {
    padding-left: 15px;
}

.box__title1 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */

    letter-spacing: 0.02em;

    color: #D9D9D9;
}

.box__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */

    letter-spacing: 0.02em;

    color: #8E8E8E;
}
/* new-intro_6 styles end */



